*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'OpenSans', sans-serif;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h1,h3 {
    font-family: 'BebasNeue', sans-serif;
}

img {
    vertical-align: bottom;
}

address {
    font-style: normal;
}

.site-container {
    overflow-x: hidden;
}

.container {
    max-width: 1240px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.title {
    font-size: 80px;
    line-height: 1;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
}

.subtitle {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #FFFFFF;
    text-transform: uppercase;
}