.main {
    height: 100vh;
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    padding-bottom: 53px;
    padding-top: 100px;
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 37vh;
        .title {
            margin-bottom: 20px;
        }
        .subtitle {
            margin-bottom: 30px;
        }
    }
    &__btn {
        background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
        border: none;
        border-radius: 4px;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        color: #1A1917;
        height: 60px;
        width: 260px;
        &-price {
            margin-left: 11px;
            padding-left: 14px;
            border-left: 0.873968px solid rgba($color: #1A1917, $alpha: 0.5);
        }
    }
}
.arrow-btn {
    font-weight: bold;
    font-size: 12px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
        margin-top: -10px;
    }
}