.requirements {
    background-image: url(../img/bg4.jpg);
    padding-top: 145px;
    .title {
        text-align: center;
    }
    .subtitle {
        text-align: center;
    }
    &__table {
        width: 573px;
        border: 1px solid #979797;
        th {
            color: #FFB548;
            font-size: 24px;
            line-height: 24px;
            letter-spacing: 2px;
            text-align: left;
            text-transform: uppercase;
        }
        td {
            font-size: 18px;
            line-height: 22px;
        }
    }
}